body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none; //禁止文本选中
}

img{
  pointer-events: none; // 禁止图片拖动
}