/**
 * todo: n->none    没有
 * todo: t->top     上
 * todo: r->right   右
 * todo: b->bottom  下
 * todo: l->left    左
 * todo: a->auto    自动
 */



// 鼠标显示 手指
.cursor-pointer
  cursor: pointer


.center-flex
  display: flex
  justify-content: center /* 水平居中 */
  align-items: center /* 垂直居中 */

.full-width
  width: 100%